.App {
  text-align: center;
  display: grid;
  grid-template-rows:10% auto 30%;
  min-height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.content {
	height: max-content;
	display: grid;
	grid-template-rows: 20% auto;
	row-gap: 20px;
  flex: 1 0 auto;
}

hr{
	margin:auto !important;
	width: 60%;
	border: 1px solid grey;
}
